/* Scroll Animation for the Navbar */
.scrolled{

    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;


                                                                     
}


.border-bottom{
    border-bottom: 1px solid #333435;
}


.scrolledNoUser{
    background-color: #fff;
    box-shadow: 1px 0px 7px 1px rgba(20,19,19,0.75);
    -webkit-box-shadow: 1px 0px 7px 1px rgba(20,19,19,0.75);
    -moz-box-shadow: 1px 0px 7px 1px rgba(20,19,19,0.75);
    transition: all 0.3s;
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

}


.customBtn-primary {
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
    border-width: 1px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-color: #333;
    color: grey;
    width: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
    cursor: pointer;
}

.customBtn-primary.dark{
    color: #fff;
    border-color: #fff;
}




